<h1>Alle quotes</h1>

<div id="quotes">
    <% if ! isempty(quotes) %>
        <% for_each(quotes) do quot %>
            <div class="quote">
                <p>$(quot.quote_)</p>
                <p><em>— $(quot.name)
                    <% if ! isempty(quot.context) %>
                        , $(quot.context)
                    <% end %>
                    ($(quot.date))</em></p>
                <div class="quote-actions">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        <% end %>
    <% else %>
        <p>Er zijn geen citaten! .·°՞(≧□≦)՞°·.</p>
    <% end %>
</div>

<br>

<a href="/">Terug naar de homepagina</a>
