<main>
    <h1>Quotes</h1>

    <p>Wel lief zijn. 😉</p>

    <form method="post" enctype="multipart/form-data" action="$(Genie.Router.linkto(:create_quote))">

        <input type="radio" name="type" id="quote" value="quote" checked>
        <label for="quote">Losse quote</label>
        <br>
        <input type="radio" name="type" id="conversation" value="conversation">
        <label for="quote">Gesprek</label>

        <br>
        <textarea name="quote" id="quote" cols="40" rows="5" required="required" maxlength="512"
            placeholder="Typ de quote(s) hier..."></textarea>

        <br>

        <div id="from-div">
            <label for="from">Van<b>*</b>:</label>
            <input type="text" name="from" id="from" maxlength="32" required>
        </div>

        <!-- <label for="to">Context:</label>
        <input type="text" name="to" maxlength="256">

        <br> -->

        <label for="date">Datum<b>*</b>:</label>
        <input type="date" id="date" name="date" required>

        <br><br>

        <input type="submit" name="submit" value="Verzend">
    </form>
</main>

<script>
    date.value = new Date().toLocaleDateString('nl');
    date.max = date.value;
</script>

<script src="/js/toggleform.js"></script>