<h1>Login</h1>

<p>
  Voer het wachtwoord in om verder te gaan.
</p>

<span>$(output_flash())</span>

<form method="POST" action="$(linkto(:login))" class="" enctype="multipart/form-data">
  <!-- <div class="form-group">
    <label _for="auth_username">Username</label>
    <input type="text" id="auth_username" name="username" placeholder="User" />
  </div> -->

  <div class="form-group">
    <label _for="auth_password">Wachtwoord:</label>
    <input type="password" id="auth_password" name="password" placeholder="Wachtwoord" />
  </div>

  <input type="submit" value="Login" />
</form>